<!--jQuery is used for some POST methods in this project-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script type="text/javascript">
  <!--
    function toggle_visibility(id) {
       var element = document.getElementById(id);
       if(element.style.display == 'block')
          element.style.display = 'none';
       else
          element.style.display = 'block';
    }

  function delete_post(id) {
      // TODO: Delete the selected post
      if (confirm('Delete this post?')) {
        alert('URL: ../blog/' + id)
        $.ajax({
          url: '../blog/' + id,
          //url : 'main.py',
          type: 'DELETE',
          success: function(result) {
          alert('Deleted post');
          }
        });
      } else {
        alert('Post not deleted');
      }
  }

  function like_post(id) {
    // TODO: Add user id to p.liking users
    alert("Liked post!");
  }

  function unlike_post(id) {
    // TODO: Remove user id from p.liking users
    alert("Uniked post!");
  }
  //-->
</script>

<div class="post">
  <div class="post-heading">
    <div class="post-title">
      {{p.subject}}
    </div>
    <div>
      <h4>By {{u.by_id(p.author_id).name}}</h4>
    </div>
    <!--
    <div>
      Post ID: {{p.key().id()}}
    </div>
    -->
    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
  <div>
  {% if p.liking_users %}
    <h5>{{len(p.liking_users.all())}} Likes</h5>
  {% else %}
    <h5>No likes yet. Will you be the first?</h5>
  {% endif %}
  <br>
  <br>
  {% if user and user.name == u.by_id(p.author_id).name %} <!--Makes sure the author is logged in-->
      <!--<a href="#" onclick="toggle_visibility('editing');">--><a href="../blog/edit/{{p.key().id()}}">Edit</a><!--TODO: Pass id of post to editing page--> <a href="#" onclick="delete_post({{p.key().id()}});">Delete</a>
      {% if p.liking_users %} <!--Check if we have any likes for the post-->
        {% if p.liking_users(p.author_id) %} <!--See if we have already liked this post-->
          <a href="#" onclick="unlike_post({{p.key().id()}})">Unlike</a>
        {% else %}
          <a href="#" onclick="like_post({{pp.key().id()}})">Like</a>
        {% endif %}
      {% else %}
        <a href="#" onclick="like_post({{p.key().id()}})">Like</a>
      {% endif %}
      <!--
      <div class="post-edit" id="editing">
      </div>
      -->
    {% else %}
      <div class="error">You do not have permission to modify this article</div>
    {% endif %}
    <div class="post-comment">
    {% if user %}
    <!--TODO: Iterate through all comments on an article and print them-->
    <h4>Write a comment...</h4>
    <textarea name="body"></textarea>
    <br>
    <button type="button" id="commentBtn" name="commentBtn">Comment</button>
    {% else %}
    <h4>You must log in to comment.</h4>
    {% endif %}
    </div>
  </div>
</div>
